name: TestActions

on:
  push:
    branches:
      - '*'

jobs:
  Publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          ref: master
          token: ${{ secrets.TEST }}
          # repository: wuvh/testrepo
